---
type: regex
pattern: '(?=.*staging)(?=.*sync/retry_test\.go).+'
flags: is
match: contains
---
